<div class="page-buttons" style="text-align:center;">
    <input type="button" id="first" class="btn btn-dark" (click)="firstPage()" value="Início" />
    <input type="button" id="previous" class="btn btn-dark" (click)="previousPage()" value="Anterior" />
    {{this.currentPage}} de {{this.numberOfPages}}
    <input type="button" id="next" class="btn btn-dark" (click)="nextPage()" value="Próximo" />
    <input type="button" id="last" class="btn btn-dark" (click)="lastPage()" value="Fim" />
</div>

<div class="photos-list">
    <div class="container">
        <div class="row">
            <app-flickr-photo
                *ngFor="let photo of pageList" 
                [photo]="photo" 
                class="col-md-4">
            </app-flickr-photo>
        </div>
    </div>
</div>
